.container-fluid{
    padding: 15px;
    background-color: dimgrey;
}
h1 {
    padding-right: 70%;
    text-align: left;
    position: fixed;
}
.nav {
    padding-left: 50%;
    position: relative;
    text-align: right;
}
.nav-link{
    text-decoration: none;
    color: aliceblue;
}
.nav-link:hover{
    color: red; 
}
body {
    font-family: sans-serif;
    background-image: url("images/Background.svg");   
    background-size: cover;
}
