@import url("header.css");
body {
    width: 100%;
    position: relative;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background-color: #202020 !important;
    min-height: 100%;
}

body:after {
    content: "";
    background-image: url(images/BodyBackground.svg);
    background-size: cover; 
    opacity: 0.4;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
}
.container {
    color: white;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
}
h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 72px;
}
h1 {
    float: left;
    padding-top: 15px;
}

.Head {
    background-image: url("images/Background.svg"); 
    background-size: cover;
    width: 100%;
    height: 850px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.Title, .subTitle {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    padding-top: 150px;
}
.Title {
    color: black;
    font-size: 72px;
    padding-bottom: 25px;
    font-family: 'Staatliches', cursive;
}
.subTitle {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}
.card{
    text-align: center;
    background-color: #4b4b4b!important;
}
.row {
    padding: 15px;
}
.col {
    padding-top: 15px;
    padding-bottom: 15px;
    opacity: 0.5;
    transition: 0.3s ease;
}
    .col:hover {
       opacity: 1;
       transform: scale(1.1, 1.1); 
}